<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django-Datatables-View Sample</title>
</head>
<body>
<h3>Django-Datatables-View Sample</h3>
<ul>
    <li><a href="{% url 'sample:sample01' %}">Sample 1: For PC</a></li>
    <div>Select rows with checkboxes. Excel output, CSV output, print function.</div>
    <li><a href="{% url 'sample:sample02' %}">Sample 2: For Mobile</a></li>
    <div>Responsive support.</div>
    <li><a href="{% url 'todo:index' %}">Sample 3: Task management tool</a></li>
    <div>Sample app with data editing screen added</div>
</ul>
</body>
</html>